<ul class="image-album">
    {% for image in include.image_list %}
        <li>
            <a href="{% link {{ image.file }} %}">
                {% unless image.is_video %}
                    <figure>
                        <img src="{% link {{ image.file }} %}" {{ image.file | image_srcset_width, 240 }}/>
                        {% if image.label %}
                            <figcaption>{{ image.label }}</figcaption>
                        {% endif %}
                    </figure>
                {% else %}
                    <figure>
                        <div class="video-thumbnail">
                            <img src="{% link {{ image.file | video_thumbnail }} %}" {{ image.file | video_thumbnail | image_srcset_width, 240 }}/>
                        </div>
                        {% if image.label %}
                            <figcaption>{{ image.label }}</figcaption>
                        {% endif %}
                    </figure>
                {% endunless %}
            </a>
        </li>
    {% endfor %}
</ul>
