@include media-query($on-palm) {
    .site-title {
        // avoid the menu button
        padding-right: 51px;
    }
}

.site-nav {
    .page-link, .page-group {
        display: inline-block;
    }

    .page-link:not(:last-child) {
        margin-left: 10px;
        margin-right: 10px;
    }

    .page-link:last-child {
        margin-left: 10px;
    }

    .page-group .page-link:last-child {
        margin-right: 10px;
    }

    .page-group {
        > .page-link.dummy {
            text-decoration: none;
        }

        &:hover {
            background-color: rgba($color: #ccc, $alpha: 0.5);
            backdrop-filter: blur(4px);

            .group-contents {
                display: block;
            }
        }

        .group-contents {
            display: none;
            position: fixed;
            background-color: rgba($color: #ccc, $alpha: 0.5);
            backdrop-filter: blur(4px);
        }
    }
}
